gradio
streamlit
opencv-python-headless
langchain_groq
langchain_huggingface
langchain-classic
langchain
langchain-community
langchain-text-splitters
faiss-cpu
pypdf
sentence-transformers
unstructured[all-docs]
pypdfium2
easyocr
pymupdf
pillow
pytesseract

